<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/estilos.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <title>ALTAPEDIA</title>
</head>

<body>

    <header>

        <nav class="navbar-index">
            <a class="logo-nav" href="http://127.0.0.1:5000"><img class="logo-nav"
                    src="{{ url_for('static', filename='img/wikipedia-logo.png') }}" alt=""></a>
        </nav>

    </header>
    <main>
        <div class="contenido-index">

            <div class="cuadro-busqueda-limpiar">
                <form action="/limpiar" method="post">
                    <input type="submit" value="Limpiar base de datos">
                    <div class="cuadro-mensaje">
                        {{mensaje}}
                    </div>
                    <textarea name="archivo" id="cuadro-texto-limpiar" placeholder="Ingrese las palabras a eliminar"></textarea>
                </form>
                <!-- <button name="listados" onclick="window.location.href='/listar'">Ver listados</button> -->
            </div>




        </div>
    </main>
</body>

</html>